
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span aria-hidden="true" class="close" data-dismiss="alert">&times;</span>
                <h3 class="alert-heading"> Great Job</h3>
                <hr />
                <p>Record Saved Successfully</p>
            </div>
        </div>
    </div>
</div>
