<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - FBKsystem</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="~/mdb/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <style>
        /* Carousel styling */
        #introCarousel,
        .carousel-inner,
        .carousel-item,
        .carousel-item.active {
          height: 50vh;
        }

        .carousel-item:nth-child(1) {
          background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .carousel-item:nth-child(2) {
          background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .carousel-item:nth-child(3) {
          background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .navbar .nav-link {
          color: #fff !important;
        }
        .card-img-top{
            height:50vh;
            width:auto;
        }
        </style>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand nav-link" asp-controller="Home" asp-action="Index">
                    <strong>FBKsytem</strong>
                </a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#overview">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="login">Pay Dues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav list-inline">
                        <!-- Icons -->
                        <li class="">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial.cshtml" />
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    
    <!-- body -->
    <main role="main">
        @RenderBody()
    </main>
    <!-- body -->
    <!--Footer-->
    <footer class="bg-light text-lg-start">
        <hr class="m-0" />
        <div class="text-center py-4 align-items-center">
            <p>Follow NACOS UI on social media</p>
            <a href="#" class="btn btn-primary m-1" role="button"
               rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="#" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">Olasquare Consults</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer-->

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
