@{
    ViewData["Title"] = "Home Page";
}
@{ Layout = "~/Views/Shared/_Layout2.cshtml";}
<!--Main Navigation-->
<header>

    <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
        </ol>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <h1 class="mb-3">Department of Computer Science </h1>
                            <h5 class="mb-4">University of Ibadan</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <h1 class="mb-3">Financial Book Keeping System </h1>
                            <h5 class="mb-4">Get your information at hand with ease</h5>
                            <a class="btn btn-outline-light btn-lg m-2" href="paydue"
                               role="button">Pay Dues</a>
                            <a class="btn btn-outline-light btn-lg m-2" asp-controller="Account" asp-action="Login"
                               role="button">Login</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="mask" style="background: linear-gradient( 45deg, rgba(29, 236, 197, 0.7),rgba(91, 14, 214, 0.7) 100%);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <h2>National Association of Computing Student UI Chapter..</h2>
                            <a class="btn btn-outline-light btn-lg m-2"
                               asp-controller="Home" asp-action="About" role="button">
                                Read more about UI NACOS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner -->
        <!-- Controls -->
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Carousel wrapper -->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main class="mt-5"id="overview">
    <div class="container" >
        <!--Section: Content-->
        <section >
            <div class="row">
                <div class="col-md-6 gx-5 mb-4 justify-content-center">
                   <div class="container">    
                       <div class="card">
                           <div class="card-body">
                               <div class="bg-image hover-overlay ripple rounded-5" data-mdb-ripple-color="light">
                                   <img src="~/mdb/img/haykay.jpg" class="card-img-top" style="height:100%; width:100%;" />
                                   <a href="#!">
                                       <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                   </a>
                               </div>
                           </div>
                       </div>
                  </div> 
                        
                   
                    
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong>UI NACOS Brief</strong></h4>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                    </p>
                    <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                        nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                        alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                    </p>
                </div>
            </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5"><strong>UI NACOS Current EXCO</strong></h4>

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/mdb/img/glory.jpg" class="card-img-top" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Names</h5>
                            <p class="card-text">
                                little description,may be bio, what you do or your interest.
                            </p>
                            <a asp-controller="Home" asp-action="fullprofile" class="btn btn-primary">Full Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/mdb/img/seun1.jpg" class="card-img-top" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Names</h5>
                            <p class="card-text">
                                little description,may be bio, what you do or your interest.
                            </p>
                            <a asp-controller="Home" asp-action="fullprofile" class="btn btn-primary">Full Profile</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/mdb/img/enterprenuer.jpg" class="card-img-top" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Names</h5>
                            <p class="card-text">
                                little description,may be bio, what you do or your interest.
                            </p>
                            <a asp-action="fullprofile" class="btn btn-primary">Full Profile</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/mdb/img/Finefarouq.jpeg" class="card-img-top" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Names</h5>
                            <p class="card-text">
                                little description,may be bio, what you do or your interest.
                            </p>
                            <a asp-action="fullprofile" class="btn btn-primary">Full Profile</a>
                        </div>
                    </div>
                </div>
                <a asp-controller="Home" asp-action="members"> View all Members </a>
            </div>
        </section>

        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="mb-5">
            <h4 class="mb-5 text-center"><strong><u>Special Announcements </u></strong></h4>

        </section>
        <!--Section: Content-->
    </div>
</main>
<!--Main layout-->