
<section class="m-5 ">
    

    <div class="row d-flex justify-content-center" id="login">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-center">
                    <h3 class="text-white"><strong> Login to Dashboard</strong></h3>
                  <small class="text-white">Have a premium Experience on FBkSystem </small> 
                </div>
                <div class="card-body">
                    <form method="post">
                        <!-- Matric No input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="matric" class="form-control" />
                            <label class="form-label" for="matric">Matric No</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control" />
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Login
                        </button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>